* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #333333;

    
}
.box-msg{

    border: 2px solid #03A9;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.box-pregunta{
    font-size: 2em;
    margin-top: 80px;
    



}